<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/svg+xml" href="/vite.svg" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600&display=swap" rel="stylesheet">
  <title>Animations vanilla</title>
</head>

<body>
  <div class="content">
    {{>header}}
    <main>
      {{>hero}}
      {{>about}}
      {{>info}}
      {{>cards}}
      {{>tabs}}
    </main>
  </div>

  <div id="cursor"></div>

  <script type="module" src="/js/main.js"></script>
  <!-- canvas here -->
</body>

</html>