<section id="cards" class="cards section">
  <div class="container">
    <h2 class="title" data-cursor-scale="4">Cards</h2>
    <div class="inner">
      <!-- card 1 -->
      <div class="card">
        <div class="card__image">
          <img src="/images/icon-1.svg" alt="">
        </div>
        <div class="card__inner">
          <div class="card__bg"></div>
          <div class="card__content">
            <h3 class="card__title">Card 1</h3>
            <p class="card__description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, consequatur!
            </p>
          </div>
        </div>
      </div>

      <!-- card 2 -->
      <div class="card">
        <div class="card__image">
          <img src="/images/icon-2.svg" alt="">
        </div>
        <div class="card__inner">
          <div class="card__bg"></div>
          <div class="card__content">

            <h3 class="card__title">Card 2</h3>
            <p class="card__description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, consequatur!
            </p>
            <p class="card__description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, consequatur!
            </p>
          </div>
        </div>
      </div>

      <!-- card 3 -->
      <div class="card">
        <div class="card__image">
          <img src="/images/icon-3.svg" alt="">
        </div>
        <div class="card__inner">
          <div class="card__bg"></div>
          <div class="card__content">
            <h3 class="card__title">Card 3</h3>
            <p class="card__description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, consequatur!
            </p>
            <p class="card__description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, consequatur!
            </p>
            <p class="card__description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, consequatur!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>