<header class="header">
  <div class="container">
    <div class="logo" data-scroll-to="hero" data-cursor-scale="4">LOGO</div>

    <nav class="menu">
      <ul data-cursor-scale="4">
        <li data-scroll-to="about">About</li>
        <li data-scroll-to="info">Info</li>
        <li data-scroll-to="cards">Cards</li>
        <li data-scroll-to="tabs">Tabs</li>
      </ul>
    </nav>

    <div class="burger" data-cursor-scale="4">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</header>