<section id="hero" class="hero">
  <div class="container">
    <h1 class="title" data-cursor-scale="6">BramblingTech</h1>
    <p data-cursor-scale="4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, voluptas?</p>
  </div>
</section>