<section id="info" class="info section">
  <div class="container">
    <div class="inner" data-cursor-scale="4">
      <h2 class="title">Info</h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam natus
        quaerat, fugiat neque
        numquam provident
        veritatis, illo blanditiis nam esse praesentium suscipit nobis animi dolorum ducimus alias porro voluptatem
        nisi!</p>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam natus
        quaerat, fugiat neque
        numquam provident
        veritatis, illo blanditiis nam esse praesentium suscipit nobis animi dolorum ducimus alias porro voluptatem
        nisi!</p>
    </div>
  </div>
</section>