<section id="tabs" class="tabs section">
  <div class="container">

    <h2 class="title" data-cursor-scale="4">Tabs</h2>
    <div class="inner">

      <ul class="tabs__buttons">
        <div class="active-tab-bg"></div>
        <li>Tab 1</li>
        <li>Tab 2</li>
        <li>Tab 3</li>
        <li>Tab 4</li>
      </ul>

      <div class="tabs__contents">
        <!-- tab 1 -->
        <div class="tab__content" data-cursor-scale="4">
          <h3>Title of tab 1</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe corporis laborum commodi ipsa consectetur
            blanditiis eum praesentium vero sed, alias totam earum, ut et veniam similique dolor dignissimos autem ad?
            Eveniet porro quaerat maiores non quibusdam
            doloremque ea rerum repellat, sapiente mollitia temporibus neque quas ut odio tempora! Amet, ullam!
          </p>
        </div>

        <!-- tab 2 -->
        <div class="tab__content" data-cursor-scale="4">
          <h3>Title of tab 2</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita temporibus ab aliquid ipsum cum soluta
            eos
            ad molestias neque cumque. Cupiditate laborum nam necessitatibus saepe inventore voluptates soluta?
            Quisquam,
            ea!
          </p>
        </div>

        <!-- tab 3 -->
        <div class="tab__content" data-cursor-scale="4">
          <h3>Title of tab 3</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam sequi illum libero dolore itaque sit alias
            doloremque nulla quisquam eligendi dolores harum, repellat consequuntur ducimus at maiores exercitationem
            corrupti officiis animi assumenda nesciunt reprehenderit id amet! Alias expedita illo iusto.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam sequi illum libero dolore itaque sit alias
            doloremque nulla quisquam eligendi dolores harum, repellat consequuntur ducimus at maiores exercitationem
            corrupti officiis animi assumenda nesciunt reprehenderit id amet! Alias expedita illo iusto.
          </p>
        </div>

        <!-- tab 4 -->
        <div class="tab__content" data-cursor-scale="4">
          <h3>Title of tab 4</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis rem quidem amet voluptas quo sit beatae,
            eum adipisci doloribus repellat?
          </p>
        </div>
      </div>
    </div>
  </div>
</section>