.about {
  .inner {
    @media (width > 1024px) {
      max-width: 50%;
      width: 100%;
      margin-left: auto;
    }
  }

  .title {
    margin-bottom: 34px;
  }

  p {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
}
