.burger {
  position: relative;
  width: 24px;
  height: 16px;
  cursor: pointer;

  span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--text);
  }

  &:not(.active) {
    span {
      transition: rotate 0.1s;

      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
      }
      &:nth-child(3) {
        top: 100%;
        transform: translateY(-100%);
      }
    }
  }

  &.active {
    span {
      transition: rotate 0.2s;
      background-color: #fff;

      &:nth-child(1) {
        top: 50%;
        transform: translateY(-50%);
        rotate: 45deg;
      }
      &:nth-child(2) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        width: 0px;
      }
      &:nth-child(3) {
        top: 50%;
        rotate: -45deg;
        transform: translateY(-50%);
      }
    }
  }
}
