.cards {
  .title {
    margin-bottom: 34px;
  }
  .inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 34px;

    @media (width < 998px) {
      align-items: stretch;
    }
  }
}

.card {
  background-color: var(--secondary);
  border: 1px solid var(--primary);
  position: relative;
  min-width: 300px;
  flex: 1;
  border-radius: 10px;

  .card__image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    right: 15px;
    z-index: 2;
    background-color: var(--third);
    border: 3px solid var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 90%;
    }
  }

  .card__inner {
    position: relative;
    overflow: hidden;
    height: 100%;
    border-radius: 10px;
  }

  .card__bg {
    position: absolute;
    top: -5%;
    bottom: -5%;
    right: 25%;
    background-color: var(--primary);
    transform: skew(-15deg);
    width: 100%;
    transition: right 0.8s;
  }

  .card__content {
    position: relative;
    z-index: 2;
    padding: 24px 16px;
    color: #fff;
  }

  .card__title {
    margin-bottom: 24px;
  }

  .card__description {
    font-size: 16px;

    &:not(:last-of-type) {
      margin-bottom: 16px;
    }
  }

  :hover {
    .card__bg {
      right: 15%;
    }
  }
}
