#cursor {
  width: var(--cursor-size);
  height: var(--cursor-size);
  background-color: transparent;
  border: 1px solid var(--secondary);
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  transition-property: width, height, opacity, left, top, background-colo;
  transition-duration: 0.2s;
  transform: translate(-50%, -50%);
  z-index: 100;

  &.active {
    border: 1px solid transparent;
    background-color: #fff;
    mix-blend-mode: difference;
  }
}
