.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  z-index: 2;
  background: linear-gradient(
    180deg,
    rgba(235, 227, 213, 1) 0,
    rgba(235, 227, 213, 0.75) 50%,
    rgba(235, 227, 213, 0.1) 100%
  );

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav {
    ul {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 16px;
    }
  }

  @media (width > 1024px) {
    .burger {
      display: none;
    }
  }

  @media (width <= 1024px) {
    nav {
      position: fixed;
      inset: 0;
      background-color: var(--primary);
      transition: opacity 0.2s;

      &:not(.open) {
        pointer-events: none;
        opacity: 0;
      }

      ul {
        flex-direction: column;
        gap: 34px;
        padding: 20dvh var(--container-padding);
        width: max-content;
        margin: 0 auto;

        li {
          font-size: 34px;
          color: #fff;
        }
      }
    }
  }
}
