.hero {
  height: 100dvh;
  text-align: center;
  padding-top: 70dvh;

  .title {
    margin-bottom: 24px;
    font-size: min(80px, 10vw);
  }

  p {
    max-width: min(500px, 100%);
    margin: 0 auto;
  }
}
