@layer reset, components, layouts, utilities;
@import './reset.scss' layer(reset);
@import './variables.scss' layer(layouts);
@import './header.scss' layer(layouts);
@import './burger.scss' layer(components);
@import './hero.scss' layer(layouts);
@import './about.scss' layer(layouts);
@import './info.scss' layer(layouts);
@import './cards.scss' layer(layouts);
@import './tabs.scss' layer(components);
@import './cursor.scss' layer(components);

@layer layout {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Comfortaa';
    font-size: 20px;
    overscroll-behavior-y: none;
    color: var(--text);
    background-color: var(--third);
  }

  #canvas {
    position: fixed;
    inset: 0;
    z-index: 0;
  }

  .content {
    position: relative;
    z-index: 1;

    main {
      display: flex;
      flex-direction: column;
      gap: min(300px, 50dvh);
    }
  }

  .container {
    max-width: 1200px;
    width: 100%;
    padding: 0 var(--container-padding);
    margin: 0 auto;
  }
}

@layer components {
  .section {
    padding: 100px 0;
    min-height: 100dvh;
  }
}

@layer utilities {
  .stop-scrolling {
    overflow-y: hidden;
  }

  [data-scroll-to] {
    cursor: pointer;
  }
}

.dg.ac {
  z-index: 99 !important;
}
