.active-tab-bg {
  position: absolute;
  left: 0;
  top: 0;
  background: var(--primary);
  box-shadow: 0 2px 5px -1px rgba(119, 107, 93, 0.3);
  border-radius: 100px;
  height: 100%;
}

.tabs__buttons {
  display: flex;
  padding: 0;
  flex-direction: row;
  border: 1px solid rgba(119, 107, 93, 0.5);
  border-radius: 100px;
  max-width: 700px;
  height: auto;
  margin: 50px auto;
  position: relative;
}

.tabs__buttons li {
  text-align: center;
  margin: 0;
  padding: 10px;
  flex: auto;
  font-size: 18px;
  font-weight: 700;
  color: var(--primary);
  position: relative;
  cursor: pointer;
  list-style: none;
}

.tabs__contents {
  max-width: 700px;
  margin: auto;
  overflow: hidden;
  background: var(--primary);
  position: relative;
  border-radius: 12px;
  max-height: 65dvh;
  overflow-y: auto;
}

.tab__content {
  position: absolute;
  padding: 24px 16px;
  left: 0;
  top: 0;
  line-height: 1.5;
  color: #fff;

  h3 {
    margin-bottom: 24px;
  }

  p:not(:last-of-type) {
    margin-bottom: 16px;
  }
}
